@font-face {
  font-family: 'HK-Grotesk';
  src: url(../public/fonts/hk-grotesk-font/hk-grotesk.regular.ttf);
}
@font-face {
  font-family: 'Rubik';
  src: url(../public/fonts/rubik-font/Rubik-Regular.ttf);
}

html, body {
  margin: 0;
  font-family: 'HK-Grotesk';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;   
}
code {
  font-family: 'HK-Grotesk';
}
